<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wifilisttest"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 以下是使用wifi访问网络所需的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Loading"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_loading"
            android:screenOrientation="landscape" >
            <item android:name="windowIsTranslucent">
true
            </item>
        </activity>
        <activity
            android:name=".Get"
            android:label="@string/title_activity_get"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Filelist"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Trans2"
            android:label="@string/title_activity_trans2"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Trans"
            android:label="@string/title_trans"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Buffer"
            android:label="@string/title_activity_buffer"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Buff"
            android:label="@string/title_activity_buff"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Error"
            android:label="@string/title_activity_error"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Firstpage"
            android:label="@string/title_activity_firstpage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ok1"
            android:label="@string/title_activity_ok1" >
        </activity>
        <activity
            android:name=".Ok2"
            android:label="@string/title_activity_ok2" >
        </activity>
    </application>

</manifest>
